<div class="flex column align-center">

  <%= form_tag '/login' do %>
    <div class="flex column align-center">
        <div class="flex justify-center form-h1 border-radius-4-top">
          <h1>Login</h1>
        </div>

        <div class="flex column form-block border-radius-4-bot">
          <div><%= label_tag :username %></div>
          <div><%= text_field_tag :username %></div>
          <div><%= label_tag :password %></div>
          <div><%= password_field_tag :password %></div>

          <div class="form-button"><%= submit_tag "Submit" %></div>
        </div>
      </div>
  <% end %>

  <% if flash[:error] %>
    <div class="form-error-messages border-radius-4">
      <ul>
        <li><%= flash[:error] %></li>
      </ul>
    </div>
  <% end %>

</div>