<div class="flex column align-center">

  <%= form_for :user, url: '/signup' do |f| %>
    <div class="flex column align-center">
      <div class="flex justify-center form-h1 border-radius-4-top">
        <h1>Sign Up</h1>
      </div>
      
      <div class="flex column form-block border-radius-4-bot">
        <div><%= f.label :username %></div>
        <div><%= f.text_field :username %></div>
        <div><%= f.label :name %> </div>
        <div><%= f.text_field :name %></div>
        <div><%= f.label :password %></div>
        <div><%= f.password_field :password %></div>
        <div><%= f.label :password_confirmation %></div>
        <div><%= f.password_field :password_confirmation %></div>

        <div class="form-button"><%= f.submit "Submit" %></div>
      </div>
    </div>
  <% end %>
 
  <% if @user.errors.any? %>
    <div class="form-error-messages border-radius-4">
      <ul class="flex column justify-between">
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
        
    </div>
  <% end %>
</div>
